@layout('layouts/master')

@section('body')

<style>
    .home{
        margin-left:3rem;
    }
    img{border-radius: 50%;}
</style>
<div class="uk-animation-fade home">
    <h1>Home</h1>
    <img src="https://i.gifer.com/24OD.gif" class="space"/>
</div>
@endsection