<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- UIkit CSS -->
    <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/uikit@3.7.5/dist/css/uikit.min.css"/>
  </head>
  <style>
      .navbar{margin-bottom: 2rem;background-color: #222222;}
      .gap{margin-left:2rem;}
      a{color:#222222;}
  </style>
  <body>
    <nav>
      <ul class="navbar uk-navbar-nav ">
        <li><a class="gap"href="/" uk-icon="icon:home">Home</a></li>        
        <li><a href="/users" uk-icon="icon:users">Users</a></li>
        <li><a href="/projects" uk-icon="icon:thumbnails">Projects</a></li>
      </ul>
    </nav>
    <main>
        @!section('body')
    </main>
    <footer></footer>
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.5/dist/js/uikit-icons.min.js"></script>
  </body>
</html>
